@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-size: 12px;
}

body {
  background: linear-gradient(to right, #03becc, #6348e1);
  font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
}

a {
  color: #00c4cc;
  text-decoration: none;
}
a:hover {
  color: #00e7cc;
  text-decoration: underline;
}
