.card {
  margin: 1rem;
  border-radius: 0.75rem;
  width: 25rem;
  min-height: 100px;
  height: auto;
  position: relative;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  padding: 1rem 0.75rem;
  border-top: solid 1px #dbdcdd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  flex-shrink: 0;
}
